body {
    margin: 0;
    background: url(/static/stacked-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgb(37, 35, 35);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.head {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center
}

.card {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 120%;
}

input {
    color: white;
    background-color: rgb(37, 35, 35);
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}


.data {
    opacity: 0.85;
    padding: 2rem 3rem;
    background-color: rgb(37, 35, 35);
    border-radius: 1rem;
    display: grid;
    justify-items: center;
    margin-bottom: 8.69rem;
    border-radius: 0rem 1rem 1rem 0rem;
}

img {
    display: inline;
    width: 25rem;
    border-radius: 1rem 0rem 0rem 1rem;
    margin-bottom: 8.7rem;
}

.button {
    margin-top: 2rem;

    margin-left: 0rem;
    background: transparent;
    color: white;
    letter-spacing: 0;
    font-weight: bold;
    border: 1px solid rgb(255, 0, 68);
    border-radius: 1rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    box-shadow: inset 0 0 0 0 rgb(255, 0, 68);
    transition: ease-out 0.5s;
    outline: none;
}

.button:hover {
    box-shadow: inset 300px 0 0 0 rgb(255, 0, 68);
    cursor: pointer;
    color: #000;
}

a {
    color: rgb(255, 0, 68);
    font-weight: bold;
    text-decoration: none;

}

a:hover {
    color: blueviolet
}