:root {
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;

}

body {
    color: black;
    background: url(/static/stacked-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #a6a6b4;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 250ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    left: 1rem;

}




.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo-text {
    display: inline;
    position: absolute;
    left: -100px;
    transition: var(--transition-speed);
}

.home {
    width: 35px;
    margin-left: 20px;
    margin-right: 30px;
}



/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }


    .navbar:hover .link-text {
        display: block;
    }

    .navbar:hover .logo-text {
        left: 100px;
    }
}

.change {
    margin-left: 3rem;
    display: flex;
    justify-content: space-evenly;

}

.change {
    margin-left: 5.3rem;
}

.update {
    margin-bottom: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;

}

.update {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0rem;
    width: 20rem;
    height: 20rem;
    background: rgb(254, 254, 254);
    background: linear-gradient(0deg, rgba(254, 254, 254, 1) 75%, rgba(102, 0, 255, 1) 75%);
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 13rem;
    height: 1.7rem;
    border-radius: 5rem;
    border: 3px solid #6600ff;
    padding-left: 1rem;
}

.head {
    color: white;
    font-size: 1.5rem;
}

.button {
    margin: 0.2rem;
    margin-left: 0rem;
    background: transparent;
    color: #6600ff;
    letter-spacing: 0;
    font-weight: bold;
    border: 2px solid #6600ff;
    border-radius: 1rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    box-shadow: inset 0 0 0 0 #6600ff;
    transition: ease-out 0.5s;
    outline: none;
}

.button:hover {
    box-shadow: inset 300px 0 0 0 #6600ff;
    cursor: pointer;
    color: #fff;
}

.name {
    font-size: 2.5rem;
}

.data {
    display: flex;


}

.ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 11rem;
    background-color: white;
    width: 25rem;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    background-color: white;
    width: 35rem;
}

.headt,
.headc {
    color: white;
    background-color: #6600ff;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headt {
    width: 25rem;
}

.headc {
    width: 35rem;
}

.rrr {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 25rem;
    height: 30rem;
}

.rrr::-webkit-scrollbar {
    width: 0.25rem;
}

.rrr::-webkit-scrollbar-track {
    background: #1e1e24;
}

.rrr::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.coom {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 35rem;
    height: 30rem;
}

.coom::-webkit-scrollbar {
    width: 0.25rem;
}

.coom::-webkit-scrollbar-track {
    background: #1e1e24;
}

.coom::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.Nnr {
    display: flex;
    justify-content: space-evenly;
}

.Nnc {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}