:root {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-family: 'Varela Round', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;

}

body {
    color: black;
    background: url(/static/stacked-waves-haikei.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #a6a6b4;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 250ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    left: 1rem;

}




.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo-text {
    display: inline;
    position: absolute;
    left: -100px;
    transition: var(--transition-speed);
}

.home {
    width: 35px;
    margin-left: 20px;
    margin-right: 30px;
}



/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }


    .navbar:hover .link-text {
        display: block;
    }

    .navbar:hover .logo-text {
        left: 100px;
    }
}

.welcome {
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
}

/* rate button */
.rating {
    transform: translate(-30%, -30%) rotateY(180deg);
    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 50px;
}

.rating label:before {
    content: "☆";
    position: relative;
    display: block;
    font-size: 50px;
    color: #101010;
}

.rating label:after {
    content: "★";
    position: absolute;
    display: block;
    font-size: 50px;
    color: #6600FF;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.rating label:hover:after,
.rating input:hover~label:after,
.rating input:checked~label:after {
    opacity: 1;
}

p {
    width: 40ch;
}

.comment p {
    display: inline;
    width: 75ch;
}

.card {
    height: 25rem;
    width: 50rem;
    background: rgb(74, 0, 186);
    background: linear-gradient(90deg, rgba(74, 0, 186, 1) 21%, rgba(255, 255, 255, 1) 21%);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
    margin-left: 10rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-items: center;
}

.card img {
    width: 20rem;
    margin-left: 2rem;
}

.right {
    display: flex;
    flex-direction: column;
}

.rline {
    display: flex;
    flex-direction: column;
}

.right h1,
.right h2,
.right p,
.rline {
    margin-left: 1.5rem;
}

.wrapper {
    position: absolute;
    top: 30rem;
    left: 49.2rem;
    transform: translate(-50%, -50%);
}

.link_wrapper {
    position: relative;
}

button {
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: rgb(74, 0, 186);
    transition: all .35s;
}

button:hover {
    width: 200px;
    border: 3px solid rgb(74, 0, 186);
    background: transparent;
    color: rgb(74, 0, 186);
}

button:hover+.icon {
    border: 3px solid rgb(74, 0, 186);
    right: -25%;
}

textarea {
    margin-top: 2rem;
    resize: none;
    width: 46rem;
    padding-left: 1rem;
    padding-top: 1rem;
    outline: 2px solid black;
    border-radius: 0px;
    font-weight: bold;
}

.comment {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 50.3rem;
    background: #fff;
    margin-left: 10rem;
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.comment::-webkit-scrollbar {
    width: 0.25rem;
}

.comment::-webkit-scrollbar-track {
    background: #1e1e24;
}

.comment::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.comment h2,
.comment p {
    padding: 0;
    margin-left: 1rem;

}

.trapper {
    width: 300px;
    background: #fff;
    border-radius: 0px;
    padding: 30px 30px 25px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 70rem;
    top: 8rem;
}

header,
.content :where(i, p, span) {
    color: #202842;
}

.trapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.trapper .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}

.quote-area i {
    font-size: 15px;
}

.quote-area i:first-child {
    margin: 3px 10px 0 0;
}

.quote-area i:last-child {
    display: flex;
    margin: 0 0 3px 10px;
    align-items: flex-end;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;


}

.content .author {
    display: flex;
    font-size: 18px;
    margin-top: 20px;
    font-style: italic;
    justify-content: flex-end;
}

.author span:first-child {
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.trapper .buttons {
    border-top: 1px solid #ccc;
}

.buttons .features {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;

}


.buttons button {
    border: none;
    color: #fff;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 22px;
    border-radius: 0px;
    background: #5372F0;
}

.buttons button.loading {
    opacity: 0.7;
    pointer-events: none;
}

.footer {
    opacity: 0.5;
    position: absolute;
    left: 77rem;
    top: 57rem;
}