:root {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-family: 'Varela Round', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;

}

body {
    color: black;
    background: url(/static/stacked-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #a6a6b4;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 250ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    left: 1rem;

}




.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo-text {
    display: inline;
    position: absolute;
    left: -100px;
    transition: var(--transition-speed);
}

.home {
    width: 35px;
    margin-left: 20px;
    margin-right: 30px;
}



/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }


    .navbar:hover .link-text {
        display: block;
    }

    .navbar:hover .logo-text {
        left: 100px;
    }
}


.photo {
    background-color: #ececec;
    width: 1000px;
    height: 630px;
    margin-left: 15rem;
    margin-top: .5rem;

}


.photo img {
    border-radius: 5px;
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;

}

.ppi {
    outline: 7px solid #c7f306;
}

.ppii {
    outline: 7px solid #c0c0c0;
}

.ppiii {
    outline: 7px solid #CD7F32;
}


.fst {
    border-radius: 5px;
    position: absolute;
    top: 0.2rem;
    left: 45.5rem;
}

.snd {
    border-radius: 5px;
    position: absolute;
    top: 8.6rem;
    left: 26.5rem;
}

.trd {
    border-radius: 5px;
    position: absolute;
    top: 10.2rem;
    left: 64.5rem;
}

.ptext {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0rem;
    font-size: 1.3rem;
}

.forth {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    height: 40px;
    background-color: white;
    margin-left: 15rem;
    margin-top: 1rem;
    border-radius: 50px;
    font-size: 1.5rem;

}